
<div class="content-profile" style="height:100%; align-items:center;">
        <div class="img-profile-login"></div>
    <div class="text-profile-solid" style="text-transform:capitalize; margin: 30px;">
        Sign in or Register
    </div>

    <div style="margin-top: 50px;">
        <div class="button-profile-top" onclick="location.href='@Url.Action("Login","Account")'" ;>
            Login
        </div>
        <div class="button-profile-bottom" onclick="location.href='@Url.Action("Registration","Account")'">
            Registration
        </div>
    </div>
</div>
